# TODO: uncomment below AND `git rm' it
# .gitignore
# TODO: uncomment below AND `git rm' it
# suppress_readline_leak.supp
# TODO: uncomment below AND `git rm' it
# minishell.bnf
# TODO: uncomment below AND `git rm' it
# gen_table.py
# TODO: uncomment below AND `git rm' it
# minishell_subject.pdf
minishell
obj
libft/libft.a
compile_commands.json

# compiledb
.cache
